<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointments</title>
</head>
<body>

<h2>Appointments</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Appointment Time</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.id}"></td>
        <td th:text="${appointment.patient.user.fullName}"></td>
        <td th:text="${appointment.time}"></td>
        <td th:text="${appointment.status}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
