<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Hospital Management System</title>
    <link rel="stylesheet" type="text/css" href="/main/main.css">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to the Erdan Hospital </h1>
            <p>Providing the best medical care with compassion and commitment.</p>

            <hr>

            <h2>Hospital Information</h2>
            <p>
                Our hospital is equipped with state-of-the-art facilities and a team of dedicated medical professionals.
                We offer a wide range of services including emergency care, specialized treatments, surgeries, and outpatient care.
                Our priority is the health and wellbeing of our patients, and we aim to provide exceptional care in a comfortable environment.
            </p>

            <hr>

            <div class="mt-4">
                <h3>Quick Links</h3>
                <div class="row">
                    <div class="col-md-5">
                        <a href="/v1/auth/login" class="btn btn-primary btn-block">Login</a>
                    </div>

                    <div class="col-md-6">
                        <a href="/v1/auth/register" class="btn btn-success btn-block">Register</a>
                    </div>
                </div>
            </div>

            <hr>

            <h3>Contact Us</h3>
            <p>
                If you have any questions, please don't hesitate to get in touch with us. Our friendly staff are always here to help you.
            </p>
            <address>
                <strong>Hospital Address:</strong><br>
                Bishkek , Ankara 28<br>
                <strong>Phone:</strong> 0700030302<br>
                <strong>Email:</strong> erdanhospital@gmail.com
            </address>

            <hr>

            <footer class="mt-5">
                <p>&copy; 2024 Hospital Management System(Erdan) . All rights reserved.</p>
            </footer>
        </div>
    </div>
</div>
</body>
</html>
