<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assigned Patients</title>
    <link rel="stylesheet" type="text/css" href="/css/auth.css">
</head>
<body>

<h2>Assigned Patients</h2>
<table>
    <thead>
    <tr>
        <th>Patient Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>View History</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.fullName}"></td>
        <td th:text="${patient.email}"></td>
        <td th:text="${patient.phoneNumber}"></td>
        <td><a th:href="@{/doctor/patients/{id}/history(id=${patient.id})}">View History</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>
